/* src/components/Home.css */
.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link:hover .card,
.card-link:focus .card {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s;
}