/* src/components/Sidebar.css */

.sidebar {
    position: relative;
    transition: width 0.3s;
    overflow: hidden;
    height: 100vh;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-color);
}

.sidebar.open {
    width: 200px;
}

.sidebar.collapsed {
    width: 50px;
}

.toggle-btn {
    position: absolute;
    top: 5%;
    transform: translateY(-50%);
    right: 0;
    background-color: #fff;
    border: none;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 5px;
}

.toggle-btn i {
    font-size: 1.5rem;
}